* {
  font-family: sans-serif;
}
h1 {
  color: #88B04B;
  margin-bottom: 2em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
  border: 1px solid #c1c1c1;
  margin:auto;
}